button {
border-radius: 90px;
font-size: 30px;
margin-left: 30px;
width: 100px;
transition: 0.6s;
}

button:hover {
    background-color: #5e5e5e;
    color: white;
    width: 120px;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 50px;
}

body {
    background: linear-gradient(to left top, rgba(0, 0, 0, 0.5), rgba(255,255,0));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
